img {
    height: 43px;
}

.navbar {
    height: 70px;
}

.container {
    margin-top: 100px;
}

.h1 {
    text-align: center;
}

.btn {
    margin-top: 10px;
}

.deletar {
    background-color: red;
}

.center {
    text-align: center;
}

table {
    border: 1px solid;
    text-align: center;
    background-color: #dcdcdc;
}

.alert {
    width: 30%;
}

body {
    background-color: #e6e6fa;
}

.bg-light {
    background-color: #dcdcdc!important;
}

.consultas {
    background-color: #00d1b2;
}

.modal-content {
    width: 130%;
}

.sair {
    background-color: rgb(37, 224, 37);
}

a {
    font-size: large;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}